.searchRow {
    height: 60px;
    margin: 5px;
    background-color: rgba(245, 245, 245, 0.781);
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    box-shadow: 2px 2px 2px gainsboro;
    animation-name: searchIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    border-radius: 5px;
    opacity: 0;
}

@keyframes searchIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


select, input {
    height: 20px;
    width: 200px;
    background-color: transparent;
    /* border-style: none; */
}

.searcherCell {
    width: 200px;
}